extends ../layout.pug

block content
  div(class='breadcrumb')
    div Колекції
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/allShips') Ships
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/allPorts') Ports
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/allPiers') Piers