extends ../../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    each val in data
        p= 'Корабель: ' + val.name + '. Номер: ' + val.number + '. Країна: ' + val.country + '. Тоннажність: ' + val.weight
        br